<fieldset>
    <legend>Update: <%= site.name %></legend>
  <div class="control-group">
    <label for="name" class="control-label">Name</label>
    <div class="controls">
      <%- contentTag('input', site.name, {type:'text', class:'span6', name:'name'}) %>
    </div>
  </div>
  <div class="control-group">
    <label for="url" class="control-label">Url</label>
    <div class="controls">
      <%- contentTag('input', site.url, {type:'text', class:'span6', name:'url'}) %>
    </div>
  </div>
  <div class="control-group">
    <label for="key" class="control-label">Akeeba Secrety Key</label>
    <div class="controls">
      <%- contentTag('input', site.key, {type:'password', class:'span6', name:'key'}) %>
    </div>
  </div>
  <div class="control-group">
    <label for="profile" class="control-label">Profile</label>
    <div class="controls">
      <%
        var empty = geddy.object.isEmpty(site.profiles);
        if(!empty) { 
          var profiles = geddy.object.toArray(site.profiles);
        %>
        <select name="profile" id="profile">
        <% profiles.forEach(function(profile, k) { var k = profile.key; var profile = profile.value; %>
          <option value="<%= k %>" <%= site.profile == k ? 'selected=selected' : '' %>><%= profile %></option>
        <% }); %>
        </select>
        <% } else { %>
         <%- contentTag('input', site.profile, {type:'text', class:'span6', name:'profile'}) %>
        <% } %>
    </div>
  </div>
  <div class="control-group">
    <label for="downloadtype" class="control-label">Download Type</label>
    <div class="controls">
      <select name="downloadtype" id="downloadtype">
      <option value="s3" <% if (site.downloadtype == 's3'){ %> selected="selected" <% } %>>Amazon S3</option>
        <option value="direct" <% if (site.downloadtype == 'direct'){ %> selected="selected" <% } %>>Direct Download</option>
        <option value="false" <% if (site.downloadtype == 'false'){ %> selected="selected" <% } %>>Do not Download</option>
      </select>
    </div>
  </div>
  <div class="folder collapse <% if (site.downloadtype != 'false'){ %>in<% } else {%>out<% } %>">
    <div class="control-group">
      <label for="downloadfolder" class="control-label">Download Folder</label>
      <div class="controls">
        <%- contentTag('input', site.downloadfolder, {type:'text', class:'span6', name:'downloadfolder'}) %>
      </div>
    </div>
  </div>
  <div class="s3 collapse <% if (site.downloadtype == 's3'){ %>in<% } else {%>out<% } %>">
    <div class="control-group">
      <label for="s3folder" class="control-label">S3 Folder</label>
      <div class="controls">
        <%- contentTag('input', site.s3folder, {type:'text', class:'span6', name:'s3folder'}) %>
      </div>
    </div>
    <div class="control-group">
      <label for="s3bucket" class="control-label">S3 Bucket</label>
      <div class="controls">
         <%- contentTag('input', site.s3bucket, {type:'text', class:'span6', name:'s3bucket'}) %>
      </div>
  </div>
  </div>
  <div class="control-group">
    <label for="quota" class="control-label">Quota</label>
    <div class="controls">
      <%- contentTag('input', site.quota, {type:'number', class:'span2', name:'quota'}) %>
    </div>
  </div>
</fieldset>


<fieldset>
  <legend>Schedule Backup</legend>
  <div class="control-group">
      <label class="control-label" for="name">Day of the Week</label>
      <div class="controls">
          <select name="cron[wd]">
            <option value="*" <% if (site.cron.wd == '*') { %>selected="selected"<% } %> >Every Day</option>
            <option value="1" <% if (site.cron.wd == '1') { %>selected="selected"<% } %>>Monday</option>
            <option value="2" <% if (site.cron.wd == '2') { %>selected="selected"<%}%>>Tuesday</option>
            <option value="3" <% if (site.cron.wd == '3') { %>selected="selected"<%}%>>Wednesday</option>
            <option value="4" <% if (site.cron.wd == '4') { %>selected="selected"<%}%>>Thursday</option>
            <option value="5" <% if (site.cron.wd == '5') { %>selected="selected"<%}%>>Friday</option>
            <option value="6" <% if (site.cron.wd == '6') { %>selected="selected"<%}%>>Saturday</option>
            <option value="0" <% if (site.cron.wd == '0') { %>selected="selected"<%}%>>Sunday</option>
          </select>
      </div>
  </div>
  <div class="control-group">
      <label class="control-label" for="name">Month</label>
      <div class="controls">
          <select name="cron[m]">
            <option value="*" <% if (site.cron.m == '*') { %>selected="selected"<%}%>>Every Month</option>
            <option value="1" <% if (site.cron.m == '1') { %>selected="selected"<%}%>>January</option>
            <option value="2" <% if (site.cron.m == '2') { %>selected="selected"<%}%>>February</option>
            <option value="3" <% if (site.cron.m == '3') { %>selected="selected"<%}%>>March</option>
            <option value="4" <% if (site.cron.m == '4') { %>selected="selected"<%}%>>April</option>
            <option value="5" <% if (site.cron.m == '5') { %>selected="selected"<%}%>>May</option>
            <option value="6" <% if (site.cron.m == '6') { %>selected="selected"<%}%>>June</option>
            <option value="7" <% if (site.cron.m == '7') { %>selected="selected"<%}%>>July</option>
            <option value="8" <% if (site.cron.m == '8') { %>selected="selected"<%}%>>August</option>
            <option value="9" <% if (site.cron.m == '9') { %>selected="selected"<%}%>>September</option>
            <option value="10" <% if (site.cron.m == '10') { %>selected="selected"<%}%>>October</option>
            <option value="11" <% if (site.cron.m == '11') { %>selected="selected"<%}%>>November</option>
            <option value="12" <% if (site.cron.m == '12') { %>selected="selected"<%}%>>December</option>
          </select>
      </div>
  </div>
  <div class="control-group">
      <label class="control-label" for="name">Day</label>
      <div class="controls">
          <select name="cron[d]">
            <option value="*" <% if (site.cron.d == '*') { %>selected="selected"<%}%>>Every Day</option>
            <% for (var i = 1; i <= 31; i++) { %>
            <option value="<%= i %>" <% if (site.cron.d == i) { %>selected="selected"<%}%>><%= i %></option>
            <% } %>
          </select>
      </div>
  </div>
  <div class="control-group">
      <label class="control-label" for="name">Hour</label>
      <div class="controls">
          <select name="cron[h]">
            <% for (var i = 0; i <= 23; i++) { %>
            <option value="<%= i %>" <% if (site.cron.h == i) { %>selected="selected"<%}%>><%= i %></option>
            <% } %>
            <option value="*" <% if (site.cron.h == '*') { %>selected="selected"<%}%>>Every Hour (ARE YOU SURE?)</option>
          </select>
      </div>
  </div>
  <div class="control-group">
      <label class="control-label" for="name">Minute</label>
      <div class="controls">
          <select name="cron[min]">
            <% for (var i = 0; i <= 59; i++) { %>
            <option value="<%= i %>" <% if (site.cron.min == i) { %>selected="selected"<%}%>><%= i %></option>
            <% } %>
            <option value="*" <% if (site.cron.min == '*') { %>selected="selected"<%}%>>Every Minute (DANGEROUS)</option>
          </select>
      </div>
  </div>
</fieldset>